.table-container {
  margin: 20px;
}

.latest-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-text {
  width: 70%;
  text-align: center;
}