.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.state {
  margin-left: 40px;
}

.title {
  text-align: center;
}

.field {
  margin-top: 20px;
}
